function Main.main 1
push constant 10
push constant 20
call Main.max 2
push local 0
call Main.print 1
pop temp 0
push constant 0
return
function Main.max 0
function Main.print 0
push argument 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
